<form action="/api/user/signup" method="post">
    <div>
        <label>Username:
            <input type="text" name="username" />
        </label>
    </div>
    <div>
        <label>Password:
            <input type="password" name="password" />
        </label>
    </div>
    <div>
        <label>Repeat password:
            <input type="password" name="password-confirm" />
        </label>
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>
